{% extends 'maestra.html' %}

{% block titulo %}Mi primer pagina con Flask {%endblock%}

{%block contenido%}


        <h1>{{data.titulo}} {{data.usuario}}</h1>

    <br>

        <ul>
            {% for vehiculo in data.vehiculos%}
            <li>{{vehiculo}}</li>
            {% endfor %}
        </ul>
        <ul>
            <select>
            {% for vehiculo in data.vehiculos%}
            <option value="{{vehiculo}}">{{vehiculo}}</il>
            {% endfor %}
            </select>
        </ul>
        <ul>
        {%block tabla%}
        <!-- <table class="table table-hover table-birdered"> -->
            <thead>
                <tr><!--Fila-->
                    <th scope="col">#</th><!--Columna-->
                    <th >Marca</th><!--Columna-->
                    <th >Referencias</th><!--Columna-->
                </tr>
            
            </thead>
            <tbody>
                
            {%set count = namespace(a=0)%}    
            {%for vehiculo in data.vehiculos%}
                <tr><!--Fila-->
                    <td>{{loop.index}}</td><!--Columna-->
                    <td>{{vehiculo}}</td><!--Columna-->
                    <td>{{data.referencias[loop.index-1]}}</td><!--Columna-->
                </tr>

            {%endfor%}
            </tbody>
        {%endblock%}       
        <!--</table>-->
{%endblock%}

</body>
</html>