{% extends "base.html" %}
{% block titulo %}Agregar Usuario{% endblock %}
{% block contenido %}
<div class="container">
    <section class="section">
        <div class="columns">
            <div class="column is-one-third">
                <h3 class="is-size-3">Agregar Usuario</h3>
                <form action="{{url_for('save_user')}}" method="post">
                    <label for="nombre">Nombre:</label>
                    <input required type="text" class="form-control" placeholder="Juan" name="name" id="name">
                    <label for="telefono">Telefono:</label>
                    <input required type="text" class="form-control" placeholder="123" name="phone" id="phone">
                    <label for="correo">Correo Electronico:</label>
                    <input required type="text" class="form-control" placeholder="ejemplo@gmail.com" name="email" id="email">
                    <label for="contraseña">Contraseña:</label>
                    <input required type="text" class="form-control" placeholder="*****" name="password" id="password">
                    <br>
                    <button type="submit" class="btn btn-success">Guardar</button>
                    <a href="{{url_for('/index')}}" class="btn btn-primary">Volver</a>
                </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}
