{% extends 'base2.html' %}
{% block titulo%}Login{% endblock%}

{% block encabezado %}Inicio de Sesión{% endblock %}

{% block contenido %}
    <div class="container">
        <form action="{{url_for('login')}}" method="POST">
            <div class="mb-3">
                <label for="email" class="form-label">Correo Electrónico</label>
                <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">No compartiremos tu email con nadie</div>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>

        <h3>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <!--<ul class=flashes>-->
                {% for message in messages %}
                {{ message }}
                {% endfor %}
                <!--</ul>-->
            {% endif %}
            {% endwith %}
        </h3>
        
    </div>
{% endblock%}