{% extends "base2.html" %}
{% block titulo %}Agregar Cliente{% endblock %}
{% block contenido %}
    <div class="container">
        <section class="section">
            <div class="columns">
                <div class="column is-one-third">
                    <h3 class="is-size-3">Agregar Usuario</h3>
                    <form action="{{url_for('save_login')}}" method="POST" enctype="multipart/form-data">

                        <label for="name">Nombre:</label>
                        <input required type="text" class="form-control" placeholder="Nombre" name="name" id="name">

                        <label for="email" class="form-label">Correo Electrónico</label>
                        <input required type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp">

                        <label for="password" class="form-label">Contraseña</label>
                        <input required type="password" class="form-control" id="password" name="password">
                        <br>

                        <label for="ufile">Foto</label>   
                        <input type="file" id="ufile" name="ufile" required accept=".jpg, .png">

                        <button type="submit" class="btn btn-success">Guardar</button>
                        <a href="{{url_for('index')}}" class="btn btn-primary">Volver</a>
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
